/*This is the style created by venuopal Reddy */
.maindiv {
	width: 1100px;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: -7px;
	margin-bottom: -7px;
	border-radius: 10px;
}

.header1 {
	background-color: #555555;
	height: 100px;
	border-radius: 7px;
	padding-top: 5px;
	margin-top: 15px;
	margin-bottom: 2px;
}

.menu {
	height: 50px;
	vertical-align: middle;
	border-radius: 7px;
	padding-top: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.contents {
	width: 100%;
	height: 500px;
}

.footer {
	background-color: #555555;
	clear: both;
	width: 100%;
	text-align: center;
	color: yellow;
	border-radius: 7px;
	height: 75px;
}

/*   This css for  Fish eye effect */